#navbar-component {
  width: 100%;
  height: 70px;
  background-color: var(--tui-background);
}

#navbar-content {
  width: 70%;
}

a.nav-link {
  text-decoration: none !important;
  color: var(--tui-primary-text);
  font-size: 1.5em;
  height: auto;

  &.active-link {
    text-decoration: underline !important;
    text-underline-offset: 0.25em;
  }
  &:hover {
    color: var(--tui-base-02);
  }
  &:active {
    color: var(--tui-base-03);
  }
}
